*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #DDF8F3;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  color: #23201A;
}

.site-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000; /* Higher z-index to bring the navbar above other content */
}

a {
  color: #23201A !important;
}

hr {
  margin: none !important;
  border: 0;
  border-top: 5px solid rgba(0, 0, 0, 1);
}

footer {
  overflow: hidden;
  background-color: #23201A !important;
}

footer a {
  text-decoration: none !important;
  color: white !important;
}

footer p {
  margin-bottom: 0.2rem;
  color: white !important;
}

foot div {
  color: white !important;
}

footer img {
  filter: invert(100%);
}

#root,
#__next {
  isolation: isolate;
}

.navbar {
  transition: opacity 0.3s ease-in-out; /* Add this line */
}

.navbar.hidden {
  opacity: 0; /* Hide the navbar when hidden class is applied */
  pointer-events: none; /* Disable interactions with hidden navbar */
  height: 0; /* Optionally, collapse the height of the navbar */
}

.navbar-brand {
  padding-inline: 3rem;
  margin-right: 0 !important;
}

.nav-link {
  margin-inline: 1rem;
}

.hero__img {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(221, 248, 253, 0.2)),
    url(images/homepagehero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0; /* Lower z-index to keep it below the navbar */
}

.hero__content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero__formContainer {
  padding: 1rem;

  background: rgba(221, 248, 253, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  background-color: #DDF8F3;
}

.card-img-top {
  border-radius: 50%;
}

.card-text::before {
  content: open-quote;
}

.card-text::after {
  content: close-quote;
}

.form-title {
  color: black;
  padding-bottom: 1rem;
}

.footer__social img {

  width: 20px;
  height: 20px;

}

#preloader {
  background: #23201A url(images/Preloader_9.gif) no-repeat center center;
  height: 100vh;
  width: 100%;
  position:fixed;
  z-index: 100;
  background-blend-mode: multiply;
}

@media (max-width: 480px) {
  .navbar-brand {
    padding-inline: 0;
  }

  .navbar {
    padding-inline: 1rem;
  }

  .hero__img {
    width: 100vw;
    height: 100vh;
    background-position: center;
  }

  .hero__formContainer {
    width: auto;
  }

  footer img {
    max-width: 2rem !important;
    align-items: center;
  }
}
