*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  color: white;
}

#root,
#__next {
  isolation: isolate;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.navbar-brand {
  padding-inline: 3rem;
  margin-right: 0 !important;
}

.nav-link {
  margin-inline: 1rem;
}

.hero__img {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/homepageheader.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero__formContainer {
  padding: 1rem;

  background: rgba(255, 255, 255, 0.65);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

.form-title {
  color: black;
  padding-bottom: 1rem;
}

@media (max-width: 480px) {
  .navbar-brand {
    padding-inline: 0;
  }

  .navbar {
    padding-inline: 1rem;
  }
}
